#acc_number {
	background-color: #BAC6D1;
	text-align: left;
	clear: none;
	float: left;
	width: 30%;
	height: 30px;
	color: #FFFFFF;
}

#status{
	text-align: center;
	clear: none;
	float: left;
	height: 30px;
	width: 10%;
	background-color: #BAC6D1;
	color: #FFF;
}
#balance{
	text-align: center;
	clear: none;
	float: left;
	height: 30px;
	width: 20%;
	background-color: #BAC6D1;
	color: #FFF;
}


.acc_number_on_list {
	background-color: #FFF;
	text-align: left;
	clear: none;
	float: left;
	width: 30%;
	height: 30px;
	padding-top: 5px;
	margin-top: 3px;
}

.status_on_list{
	text-align: center;
	clear: none;
	float: left;
	height: 30px;
	width: 10%;
	background-color: #FFF;
	padding-top: 5px;
	margin-top: 3px;
}
.balance_on_list{
	text-align: center;
	clear: none;
	float: left;
	height: 30px;
	width: 20%;
	background-color: #FFF;
	padding-top: 5px;
	margin-top: 3px;
}
#type{
	text-align: center;
	clear: none;
	float: left;
	height: 30px;
	width: 15%;
	background-color: #BAC6D1;
	color: #FFF;
}

.type_on_list{
	text-align: center;
	clear: none;
	float: left;
	height: 30px;
	width: 15%;
	background-color: #FFF;
	padding-top: 5px;
	margin-top: 3px;
}

<!------------------------------------------------>

#body_content {
	clear: none;
	float: left;
	min-height: 200px;
	width: 60%;
	background-color: #F3F5F8;
	margin-left: 250px;
	border-radius: 5%;
	color: #6A86AE;
	font-size: 24px;
	padding: 20px;
	text-align: center;
}
#login_button {
	background-color: #E2E8EF;
	float: right;
	height: 50px;
	width: 15%;
	padding-top: 20px;
	text-align: center;
}
#header_title {
	background-color: #E2E8EF;
	clear: none;
	float: left;
	height: 70px;
	width: 75%;
	text-align: right;
}
